
<div class="showcase">
    <header class="overlay">
        <div style="margin-top:10px;">
            <div class="showcase-top">
                <img src="https://i.ibb.co/r5krrdz/logo.png" alt="" />
                <a href="#" class="btn btn-rounded">Sign In</a>
            </div>
            <div class="showcase-content">
                <h1>Unlimited movies, TV <br/> shows, and more.</h1>
                <h2 style="margin-bottom:15px;">Watch anywhere. Cancel Anytime</h2>
                <h3 >Ready to watch? Enter your email to create or restart your membership.</h3>
                <div class="started">
                <input type="email" placeholder="  Email address"/>
                <button class="btn btn-xl"
                    >Get started <i class="fas fa-chevron-right btn-icon"></i
                ></button>
            </div>
            </div>
        </div>
    </header>
</div>

